<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/huge_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Make a huge ``csv``

* Ram : 381 MB
* #row : 10000000-1

In [11]:
!perl -E 'for($i=0;$i<10000000;$i++){say "Line $i,field2,field3,field4,field5",int rand 100}' > BigBoy.csv

In [12]:
import pandas as pd

* takes time around 10 sec

In [13]:
csv = 'BigBoy.csv'
df = pd.read_csv(csv)

In [14]:
df.describe()

         Line 0   field2   field3   field4  field562
count   9999999  9999999  9999999  9999999   9999999
unique  9999999        1        1        1       100
top      Line 1   field2   field3   field4  field598
freq          1  9999999  9999999  9999999    100914

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999999 entries, 0 to 9999998
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   Line 0    object
 1   field2    object
 2   field3    object
 3   field4    object
 4   field562  object
dtypes: object(5)
memory usage: 381.5+ MB