<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/html_df_loaded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture
!wget https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv -O biostats.csv

In [2]:
import pandas as pd
df = pd.read_csv('biostats.csv')

In [3]:
from IPython.core.display import HTML
df_html = df.to_html()
HTML(df_html)