<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/pandas/dataframe_append.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !wget https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv -O biostats.csv

--2022-04-19 05:11:22--  https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv
Resolving people.sc.fsu.edu (people.sc.fsu.edu)... 144.174.16.102
Connecting to people.sc.fsu.edu (people.sc.fsu.edu)|144.174.16.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 849 [text/csv]
Saving to: ‘biostats.csv’

biostats.csv        100%[===================>]     849  --.-KB/s    in 0s

2022-04-19 05:11:23 (214 MB/s) - ‘biostats.csv’ saved [849/849]

In [2]:
import pandas as pd

df = pd.read_csv('biostats.csv')
df.head()

   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Alex         "M"      41              74              170
1  Bert         "M"      42              68              166
2  Carl         "M"      32              70              155
3  Dave         "M"      39              72              167
4  Elly         "F"      30              66              124

In [3]:
df1 = df[df['Name'].apply(lambda x:True if "a" in x else False)][:4]
df2 = df[~df['Name'].apply(lambda x:True if "a" in x else False)][:2]
df1.append(df2, ignore_index=True)

   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Carl         "M"      32              70              155
1  Dave         "M"      39              72              167
2  Fran         "F"      33              66              115
3  Hank         "M"      30              71              158
4  Alex         "M"      41              74              170
5  Bert         "M"      42              68              166