<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/pandas/korean_encoding_utf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=["hi"])
df = df.append({"hi": "안녕123abs"}, 
               ignore_index=True)
df

         hi
0  안녕123abs

In [3]:
df.to_csv("hi안녕.csv", index=False, encoding='utf-8-sig')