<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/pandas/pandas_df_append_iter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=[
                    'name','gt'])

In [3]:
for i in range(5):
    df = df.append({'name':i, 'gt':i%2},ignore_index=True)

In [6]:
df

  name gt
0    0  0
1    1  1
2    2  0
3    3  1
4    4  0

In [5]:
df.to_csv('name.csv', index=False)