<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/pandas/set_value_multiple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv -O biostats.csv

--2022-03-02 08:24:19--  https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv
Resolving people.sc.fsu.edu (people.sc.fsu.edu)... 144.174.16.102
Connecting to people.sc.fsu.edu (people.sc.fsu.edu)|144.174.16.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 849 [text/csv]
Saving to: ‘biostats.csv’

biostats.csv        100%[===================>]     849  --.-KB/s    in 0s

2022-03-02 08:24:20 (210 MB/s) - ‘biostats.csv’ saved [849/849]

In [2]:
import pandas as pd

df = pd.read_csv('biostats.csv')
df.columns

Index(['Name', '     "Sex"', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"'], dtype='object')

In [3]:
df.loc[df['Name'].isin(['Alex', 'Bert']), [' "Weight (lbs)"']] = True
df.head()

   Name       "Sex"   "Age"   "Height (in)"  "Weight (lbs)"
0  Alex         "M"      41              74            True
1  Bert         "M"      42              68            True
2  Carl         "M"      32              70             155
3  Dave         "M"      39              72             167
4  Elly         "F"      30              66             124